{%extends 'index.html'%}
{% load bootstrap5 %}
{% block banner %}
<h1 class="display-5 fst-italic">Preencha os dados abaixo</h1>

{% endblock %}

{% block conteudo %}
<div class="my-5 border border-5 justify-content-center">
  
  <div class="col-auto m-5">

    {% if sucesso %}
    <p class="alert alert-success"> Reserva realizada com sucesso!</p>
    {% else %}
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      
      <hr>
      {% buttons %}
          <button type="submit" class="btn btn-primary">Reservar</button>
      {% endbuttons %}
      
    </form>
    {% endif %}
  </div>

</div>
{% endblock %}